-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: 72.61.156.107    Database: okul_yonetim
-- ------------------------------------------------------
-- Server version	8.4.6

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `announcement_attachments`
--

DROP TABLE IF EXISTS `announcement_attachments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `announcement_attachments` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `announcement_id` int unsigned NOT NULL,
  `filename` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `path` varchar(512) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `mime_type` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `size` int DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_ann_attach_ann` (`announcement_id`),
  CONSTRAINT `fk_ann_attach_announcement` FOREIGN KEY (`announcement_id`) REFERENCES `announcements` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `announcement_attachments`
--

LOCK TABLES `announcement_attachments` WRITE;
/*!40000 ALTER TABLE `announcement_attachments` DISABLE KEYS */;
/*!40000 ALTER TABLE `announcement_attachments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `announcements`
--

DROP TABLE IF EXISTS `announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `announcements` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `school_id` int unsigned DEFAULT NULL,
  `title` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `content` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `publish_date` datetime DEFAULT NULL,
  `end_date` datetime DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_by` int unsigned DEFAULT NULL,
  `updated_by` int unsigned DEFAULT NULL,
  `ord` int DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `publish_start_time` time DEFAULT NULL,
  `publish_end_time` time DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_announcements_school` (`school_id`),
  KEY `idx_announcements_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `announcements`
--

LOCK TABLES `announcements` WRITE;
/*!40000 ALTER TABLE `announcements` DISABLE KEYS */;
/*!40000 ALTER TABLE `announcements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `device_features`
--

DROP TABLE IF EXISTS `device_features`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `device_features` (
  `id` int NOT NULL AUTO_INCREMENT,
  `device_id` int NOT NULL,
  `feature_id` int NOT NULL,
  `value` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT NULL COMMENT '├ûzellik de─şeri',
  PRIMARY KEY (`id`),
  UNIQUE KEY `device_features_feature_id_device_id_unique` (`device_id`,`feature_id`),
  KEY `feature_id` (`feature_id`),
  CONSTRAINT `device_features_ibfk_69` FOREIGN KEY (`device_id`) REFERENCES `devices` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `device_features_ibfk_70` FOREIGN KEY (`feature_id`) REFERENCES `features` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_tr_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `device_features`
--

LOCK TABLES `device_features` WRITE;
/*!40000 ALTER TABLE `device_features` DISABLE KEYS */;
INSERT INTO `device_features` VALUES (54,9,5,'Dell'),(55,9,6,'8GB'),(56,9,7,'??3 14100'),(57,9,9,'238GB'),(58,9,10,'23.8'),(59,9,11,'W11'),(60,9,12,'Optiplex 7420'),(61,9,13,'128MB'),(68,11,6,'4GB'),(69,11,11,'W10'),(73,10,6,'8GB'),(74,10,11,'W11'),(75,10,15,'Kycera'),(76,13,5,'hp'),(77,13,12,'P1100'),(82,12,6,'4GB'),(91,7,5,'Dell'),(92,7,6,'8GB'),(93,7,7,'??3 14100'),(94,7,9,'238GB'),(95,7,10,'23.8'),(96,7,11,'W11'),(97,7,12,'Optiplex 7420'),(98,7,13,'128MB'),(99,8,6,'4GB'),(100,8,14,'FAZ1');
/*!40000 ALTER TABLE `device_features` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `device_types`
--

DROP TABLE IF EXISTS `device_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `device_types` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL,
  `device_code` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_tr_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `device_types`
--

LOCK TABLES `device_types` WRITE;
/*!40000 ALTER TABLE `device_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `device_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `devices`
--

DROP TABLE IF EXISTS `devices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `devices` (
  `id` int NOT NULL AUTO_INCREMENT,
  `identity_no` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT NULL,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL,
  `serial_no` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT NULL,
  `user` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT NULL,
  `status` enum('active','inactive','maintenance') CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT 'active',
  `location_id` int NOT NULL,
  `device_type_id` int NOT NULL,
  `school_id` int NOT NULL COMMENT 'Cihaz??n ait oldu??u okul',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `user_id` int DEFAULT NULL,
  `user_is_employee` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `identity_no` (`identity_no`),
  UNIQUE KEY `identity_no_2` (`identity_no`),
  KEY `location_id` (`location_id`),
  KEY `device_type_id` (`device_type_id`),
  KEY `school_id` (`school_id`),
  KEY `devices_user_id_fk` (`user_id`),
  CONSTRAINT `devices_ibfk_110` FOREIGN KEY (`location_id`) REFERENCES `locations` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `devices_ibfk_111` FOREIGN KEY (`device_type_id`) REFERENCES `device_types` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `devices_ibfk_112` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `devices_user_id_fk` FOREIGN KEY (`user_id`) REFERENCES `school_employees` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_tr_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `devices`
--

LOCK TABLES `devices` WRITE;
/*!40000 ALTER TABLE `devices` DISABLE KEYS */;
/*!40000 ALTER TABLE `devices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `districts`
--

DROP TABLE IF EXISTS `districts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `districts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `province_id` int NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_districts_province_id` (`province_id`),
  CONSTRAINT `districts_ibfk_1` FOREIGN KEY (`province_id`) REFERENCES `provinces` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=190 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_tr_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `districts`
--

LOCK TABLES `districts` WRITE;
/*!40000 ALTER TABLE `districts` DISABLE KEYS */;
/*!40000 ALTER TABLE `districts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `duty_locations`
--

DROP TABLE IF EXISTS `duty_locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `duty_locations` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL,
  `description` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT NULL,
  `school_id` int NOT NULL COMMENT 'N├Âbet yerinin ait oldu─şu okul',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `order` int NOT NULL DEFAULT '0' COMMENT 'S─▒ralama numaras─▒ (daha k├╝├ğ├╝k olan ├╝stte g├Âsterilir)',
  PRIMARY KEY (`id`),
  KEY `school_id` (`school_id`),
  CONSTRAINT `duty_locations_ibfk_1` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_tr_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `duty_locations`
--

LOCK TABLES `duty_locations` WRITE;
/*!40000 ALTER TABLE `duty_locations` DISABLE KEYS */;
INSERT INTO `duty_locations` VALUES (1,'Giri┼ş Kat','',1,'2025-10-13 06:55:17','2025-10-13 06:55:17',2),(2,'Bah├ğe','',1,'2025-10-13 06:59:03','2025-10-13 06:59:03',1),(4,'2.Kat','',1,'2025-10-13 06:59:16','2025-10-13 06:59:16',4),(5,'3.Kat','',1,'2025-10-13 06:59:23','2025-10-13 06:59:23',5);
/*!40000 ALTER TABLE `duty_locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `duty_schedule`
--

DROP TABLE IF EXISTS `duty_schedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `duty_schedule` (
  `id` int NOT NULL AUTO_INCREMENT,
  `school_id` int NOT NULL,
  `name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `shift` enum('morning','afternoon') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `effective_from` date NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_duty_schedule_school` (`school_id`),
  CONSTRAINT `fk_duty_schedule_school` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `duty_schedule`
--

LOCK TABLES `duty_schedule` WRITE;
/*!40000 ALTER TABLE `duty_schedule` DISABLE KEYS */;
INSERT INTO `duty_schedule` VALUES (7,1,'Sabah','morning','2025-10-13',1,'2025-10-14 09:04:00','2025-10-14 12:07:07'),(8,1,'├û─şlen','afternoon','2025-10-13',1,'2025-10-14 09:49:23','2025-10-14 12:07:19');
/*!40000 ALTER TABLE `duty_schedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `duty_schedule_assignments`
--

DROP TABLE IF EXISTS `duty_schedule_assignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `duty_schedule_assignments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `duty_schedule_id` int NOT NULL,
  `day_of_week` enum('monday','tuesday','wednesday','thursday','friday','saturday','sunday') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `duty_location_id` int DEFAULT NULL,
  `school_employee_id` int NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_dsa_location` (`duty_location_id`),
  KEY `fk_dsa_employee` (`school_employee_id`),
  KEY `idx_dsa_schedule_day` (`duty_schedule_id`,`day_of_week`),
  CONSTRAINT `fk_dsa_employee` FOREIGN KEY (`school_employee_id`) REFERENCES `school_employees` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_dsa_location` FOREIGN KEY (`duty_location_id`) REFERENCES `duty_locations` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_dsa_schedule` FOREIGN KEY (`duty_schedule_id`) REFERENCES `duty_schedule` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=81 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `duty_schedule_assignments`
--

LOCK TABLES `duty_schedule_assignments` WRITE;
/*!40000 ALTER TABLE `duty_schedule_assignments` DISABLE KEYS */;
/*!40000 ALTER TABLE `duty_schedule_assignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_types`
--

DROP TABLE IF EXISTS `employee_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `employee_types` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL,
  `is_teacher` tinyint(1) DEFAULT '0',
  `is_principal` tinyint(1) DEFAULT '0',
  `is_vice_principal` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  UNIQUE KEY `name_2` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_tr_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_types`
--

LOCK TABLES `employee_types` WRITE;
/*!40000 ALTER TABLE `employee_types` DISABLE KEYS */;
INSERT INTO `employee_types` VALUES (1,'├û─şretmen',1,0,0),(2,'M├╝d├╝r',0,1,0),(3,'M├╝d├╝r Yard─▒mc─▒s─▒',0,0,1),(4,'Hizmetli',0,0,0),(5,'Memur',0,0,0);
/*!40000 ALTER TABLE `employee_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fault_reports`
--

DROP TABLE IF EXISTS `fault_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fault_reports` (
  `id` int NOT NULL AUTO_INCREMENT,
  `school_id` int NOT NULL,
  `device_id` int NOT NULL,
  `user_id` int NOT NULL,
  `issue_details` text COLLATE utf8mb4_tr_0900_ai_ci NOT NULL,
  `operation_id` int DEFAULT NULL,
  `image` varchar(255) COLLATE utf8mb4_tr_0900_ai_ci DEFAULT NULL COMMENT 'Optional image path or URL',
  `status` varchar(32) COLLATE utf8mb4_tr_0900_ai_ci NOT NULL DEFAULT 'open',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `school_id` (`school_id`),
  KEY `device_id` (`device_id`),
  KEY `user_id` (`user_id`),
  KEY `operation_id` (`operation_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_tr_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fault_reports`
--

LOCK TABLES `fault_reports` WRITE;
/*!40000 ALTER TABLE `fault_reports` DISABLE KEYS */;
INSERT INTO `fault_reports` VALUES (1,1,7,2,'1111111111ddddddddddddd',NULL,NULL,'pending','2025-10-21 10:29:40','2025-10-21 17:48:15'),(2,1,8,2,'77777 77777rtty rt yrty  rtyrty rtr rty ',NULL,'uploads\\faults\\images\\1761037476750-461646136.png','pending','2025-10-21 07:41:11','2025-10-21 17:48:15'),(3,1,10,2,'bilisayar a├ğ─▒lm─▒─▒yor ',NULL,'uploads\\faults\\images\\1761043978665-464729358.png','pending','2025-10-21 10:53:03','2025-10-21 17:48:16');
/*!40000 ALTER TABLE `fault_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `features`
--

DROP TABLE IF EXISTS `features`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `features` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci,
  `sort_order` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  UNIQUE KEY `name_2` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_tr_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `features`
--

LOCK TABLES `features` WRITE;
/*!40000 ALTER TABLE `features` DISABLE KEYS */;
INSERT INTO `features` VALUES (5,'Marka','Cihaz─▒n markas─▒',4),(6,'Ram','Bellek kapasitesi (GB)',2),(7,'─░┼şlemci','─░┼şlemci modeli ve h─▒z─▒',1),(8,'Anakart','Anakart modeli',9),(9,'Depolama','HDD/SSD kapasitesi',3),(10,'Ekran Boyutu','Ekran boyutu',8),(11,'─░┼şletim Sistemi','Y├╝kl├╝ i┼şletim sistemi',6),(12,'Model','Cihaz─▒n modeli',5),(13,'Ekran Kart─▒','Ekran Kart─▒ bilgileri',7),(14,'Da─ş─▒t─▒m S├╝r├╝m├╝',NULL,10),(15,'Yaz─▒c─▒ Modeli',NULL,11);
/*!40000 ALTER TABLE `features` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `global_settings`
--

DROP TABLE IF EXISTS `global_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `global_settings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `smtp_host` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT NULL,
  `smtp_port` int DEFAULT NULL,
  `smtp_secure` tinyint(1) DEFAULT '0',
  `smtp_user` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT NULL,
  `smtp_password` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT NULL,
  `from_email` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT NULL,
  `from_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT NULL,
  `provider` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT NULL COMMENT 'gmail | custom | other',
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_tr_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `global_settings`
--

LOCK TABLES `global_settings` WRITE;
/*!40000 ALTER TABLE `global_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `global_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `info_nugget_categories`
--

DROP TABLE IF EXISTS `info_nugget_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `info_nugget_categories` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `color_hex` varchar(7) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT NULL,
  `visual_value` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL,
  `created_at` datetime NOT NULL,
  `name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_info_nugget_categories_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_tr_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `info_nugget_categories`
--

LOCK TABLES `info_nugget_categories` WRITE;
/*!40000 ALTER TABLE `info_nugget_categories` DISABLE KEYS */;
INSERT INTO `info_nugget_categories` VALUES (1,'#1976d2','language','2025-10-17 15:10:53','dil'),(3,'#0ac788','announcement','2025-10-17 16:18:10','k─▒sa duyurular');
/*!40000 ALTER TABLE `info_nugget_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `info_nuggets`
--

DROP TABLE IF EXISTS `info_nuggets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `info_nuggets` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `category_id` int unsigned NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `title` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT NULL,
  `text_content` text CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci,
  `display_duration_ms` int NOT NULL DEFAULT '10000',
  `priority` int NOT NULL DEFAULT '1',
  `start_date` date DEFAULT NULL,
  `expiration_date` date DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `publish_start_time` time DEFAULT NULL,
  `publish_end_time` time DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `category_id` (`category_id`),
  CONSTRAINT `info_nuggets_ibfk_1` FOREIGN KEY (`category_id`) REFERENCES `info_nugget_categories` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_tr_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `info_nuggets`
--

LOCK TABLES `info_nuggets` WRITE;
/*!40000 ALTER TABLE `info_nuggets` DISABLE KEYS */;
INSERT INTO `info_nuggets` VALUES (1,1,1,'Demo Nugget','Bu bir demo info nuggettir.',8000,1,NULL,NULL,'2025-10-17 15:10:54','2025-10-18 19:19:20',NULL,NULL),(3,1,1,'44444','hello',10000,1,NULL,NULL,'2025-10-17 16:45:44','2025-10-18 19:19:33',NULL,NULL),(4,3,1,'zz','333',10000,1,'2025-10-25','2025-11-09','2025-10-17 17:14:20','2025-10-17 17:34:42','10:00:00','15:00:00'),(7,1,1,'Okul Duyurusu','Okulumuzda yeni k├╝t├╝phane a├ğ─▒ld─▒. Detaylar okul panosunda ve web sitesinde yay─▒nlanacakt─▒r.',10000,1,'2025-10-31','2025-11-29','2025-10-18 19:55:24','2025-10-18 19:55:24','09:00:00','17:00:00');
/*!40000 ALTER TABLE `info_nuggets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `locations`
--

DROP TABLE IF EXISTS `locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `locations` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL,
  `description` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT NULL,
  `room_number` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT NULL,
  `school_id` int NOT NULL COMMENT 'Lokasyonun ait oldu??u okul',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `school_id` (`school_id`),
  CONSTRAINT `locations_ibfk_1` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_tr_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `locations`
--

LOCK TABLES `locations` WRITE;
/*!40000 ALTER TABLE `locations` DISABLE KEYS */;
/*!40000 ALTER TABLE `locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int NOT NULL AUTO_INCREMENT,
  `filename` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL,
  `applied_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `filename` (`filename`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_tr_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
INSERT INTO `migrations` VALUES (1,'20251013_add_lunch_start_time_to_schools.sql','2025-10-13 18:07:55'),(2,'20251014_create_duty_schedule.sql','2025-10-14 07:23:24'),(3,'20251014_alter_duty_schedule_assignments_nullable_location.sql','2025-10-14 18:44:23'),(4,'20251014_create_announcements_table.sql','2025-10-14 18:44:23'),(5,'20251015_create_announcement_attachments_table.sql','2025-10-15 08:22:48');
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `operation_types`
--

DROP TABLE IF EXISTS `operation_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `operation_types` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  UNIQUE KEY `name_2` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_tr_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `operation_types`
--

LOCK TABLES `operation_types` WRITE;
/*!40000 ALTER TABLE `operation_types` DISABLE KEYS */;
INSERT INTO `operation_types` VALUES (1,'BIOS Pili De─şi┼şimi',NULL),(2,'Windows 10 Kurulumu',NULL),(3,'Windows 11 Kurulumu',NULL),(4,'Kasa Toz Temizli─şi',NULL),(5,'Virus Taramas─▒',NULL),(6,'Harddisk De─şi┼şimi (SSD)',NULL),(7,'Ram De─şi┼şimi',NULL),(8,'Ram Takviyesi',NULL),(10,'A─ş Yap─▒land─▒rmas─▒',NULL),(11,'Yedekleme',NULL),(12,'Yaz─▒l─▒m G├╝ncellemesi',NULL),(16,'Temizlik',NULL),(17,'Termal Macun De─şi┼şikli─şi',NULL);
/*!40000 ALTER TABLE `operation_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `operations`
--

DROP TABLE IF EXISTS `operations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `operations` (
  `id` int NOT NULL AUTO_INCREMENT,
  `operation_type_id` int NOT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci,
  `date` datetime DEFAULT NULL,
  `technician_id` int NOT NULL,
  `device_id` int NOT NULL,
  `is_completed` tinyint(1) DEFAULT '0',
  `school_id` int NOT NULL COMMENT '????lemin ait oldu??u okul',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `operation_type_id` (`operation_type_id`),
  KEY `technician_id` (`technician_id`),
  KEY `device_id` (`device_id`),
  KEY `school_id` (`school_id`),
  CONSTRAINT `operations_ibfk_147` FOREIGN KEY (`operation_type_id`) REFERENCES `operation_types` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `operations_ibfk_148` FOREIGN KEY (`technician_id`) REFERENCES `technicians` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `operations_ibfk_149` FOREIGN KEY (`device_id`) REFERENCES `devices` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `operations_ibfk_150` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_tr_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `operations`
--

LOCK TABLES `operations` WRITE;
/*!40000 ALTER TABLE `operations` DISABLE KEYS */;
INSERT INTO `operations` VALUES (4,3,NULL,'2025-09-28 21:00:00',3,7,1,1,'2025-10-06 10:47:21','2025-10-06 10:47:21'),(5,6,NULL,'2025-09-28 21:00:00',3,11,1,1,'2025-10-06 11:12:14','2025-10-06 11:12:14'),(6,2,NULL,'2025-09-28 21:00:00',3,11,1,1,'2025-10-06 11:12:35','2025-10-06 11:12:35'),(7,12,'ofis 2024 aktifle┼ştirildi','2025-10-21 10:53:37',3,12,1,1,'2025-10-21 10:55:04','2025-10-21 10:55:04');
/*!40000 ALTER TABLE `operations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `permissions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  UNIQUE KEY `name_2` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_tr_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `provinces`
--

DROP TABLE IF EXISTS `provinces`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `provinces` (
  `id` int NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL,
  `ord` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_tr_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `provinces`
--

LOCK TABLES `provinces` WRITE;
/*!40000 ALTER TABLE `provinces` DISABLE KEYS */;
/*!40000 ALTER TABLE `provinces` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `school_employees`
--

DROP TABLE IF EXISTS `school_employees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `school_employees` (
  `id` int NOT NULL AUTO_INCREMENT,
  `school_id` int NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL,
  `email` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT NULL,
  `employee_type_id` int DEFAULT NULL,
  `branch` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `school_id` (`school_id`),
  KEY `employee_type_id` (`employee_type_id`),
  CONSTRAINT `school_employees_ibfk_15` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `school_employees_ibfk_16` FOREIGN KEY (`employee_type_id`) REFERENCES `employee_types` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=511 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_tr_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `school_employees`
--

LOCK TABLES `school_employees` WRITE;
/*!40000 ALTER TABLE `school_employees` DISABLE KEYS */;
/*!40000 ALTER TABLE `school_employees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `school_observances`
--

DROP TABLE IF EXISTS `school_observances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `school_observances` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `school_id` int NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `source_year` int DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_school_observances_school_id` (`school_id`),
  KEY `idx_school_observances_source_year` (`source_year`),
  CONSTRAINT `fk_school_observances_school` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=621 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `school_observances`
--

LOCK TABLES `school_observances` WRITE;
/*!40000 ALTER TABLE `school_observances` DISABLE KEYS */;
/*!40000 ALTER TABLE `school_observances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `school_time_table`
--

DROP TABLE IF EXISTS `school_time_table`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `school_time_table` (
  `id` int NOT NULL AUTO_INCREMENT,
  `period_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `period_type` enum('class','break','lunch') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `start_time` time NOT NULL,
  `duration_minutes` int NOT NULL,
  `end_time` time GENERATED ALWAYS AS (addtime(`start_time`,sec_to_time((`duration_minutes` * 60)))) STORED,
  `is_block` tinyint(1) DEFAULT '0',
  `block_id` int DEFAULT NULL,
  `day_of_week` tinyint NOT NULL COMMENT '1 = Monday, 5 = Friday',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_school_time_table_day` (`day_of_week`),
  KEY `idx_school_time_table_block` (`block_id`)
) ENGINE=InnoDB AUTO_INCREMENT=134 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `school_time_table`
--

LOCK TABLES `school_time_table` WRITE;
/*!40000 ALTER TABLE `school_time_table` DISABLE KEYS */;
/*!40000 ALTER TABLE `school_time_table` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schools`
--

DROP TABLE IF EXISTS `schools`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schools` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL COMMENT 'Okul ad─▒',
  `code` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL COMMENT 'Okul kodu (├Ârn: AKM001)',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `province_id` int NOT NULL,
  `district_id` int NOT NULL,
  `school_type` enum('ana_okulu','ilk_okul','orta_okul','lise') CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL DEFAULT 'ilk_okul',
  `is_double_shift` tinyint(1) NOT NULL DEFAULT '0',
  `start_time` varchar(5) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL DEFAULT '08:00',
  `lesson_duration_minutes` int NOT NULL DEFAULT '40',
  `break_duration_minutes` int NOT NULL DEFAULT '10',
  `logo_path` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT NULL,
  `lunch_start_time` varchar(5) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT NULL COMMENT '├û─şlen ders ba┼şlang─▒├ğ saati (HH:mm) - nullable',
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  UNIQUE KEY `code_2` (`code`),
  UNIQUE KEY `code_3` (`code`),
  UNIQUE KEY `code_4` (`code`),
  UNIQUE KEY `code_5` (`code`),
  KEY `idx_schools_province_id` (`province_id`),
  KEY `idx_schools_district_id` (`district_id`),
  CONSTRAINT `schools_ibfk_1` FOREIGN KEY (`province_id`) REFERENCES `provinces` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_tr_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schools`
--

LOCK TABLES `schools` WRITE;
/*!40000 ALTER TABLE `schools` DISABLE KEYS */;
INSERT INTO `schools` VALUES (1,'Avc─▒lar Anadolu Lisesi','AAL','2025-10-06 07:00:24','2025-10-13 18:21:38',34,154,'lise',1,'08:00',30,15,'uploads\\school-logos\\1760347870512-525607162.png','13:00'),(3,'Saide Zorlu MAL','SZL','2025-10-13 09:32:14','2025-10-13 09:32:14',34,103,'lise',0,'09:00',40,10,'uploads\\school-logos\\1760347934172-732952259.png',NULL);
/*!40000 ALTER TABLE `schools` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `students` (
  `id` int NOT NULL AUTO_INCREMENT,
  `student_no` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL COMMENT '├û─şrenci numaras─▒',
  `first_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL,
  `last_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL,
  `birth_date` date DEFAULT NULL,
  `school_id` int DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `class_name` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `student_no` (`student_no`)
) ENGINE=InnoDB AUTO_INCREMENT=1000 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_tr_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `technicians`
--

DROP TABLE IF EXISTS `technicians`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `technicians` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL,
  `email` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT NULL,
  `phone` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT NULL,
  `status` enum('active','inactive') CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT 'active',
  `school_id` int NOT NULL COMMENT 'Teknisyenin ait oldu??u okul',
  PRIMARY KEY (`id`),
  KEY `school_id` (`school_id`),
  CONSTRAINT `technicians_ibfk_1` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_tr_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `technicians`
--

LOCK TABLES `technicians` WRITE;
/*!40000 ALTER TABLE `technicians` DISABLE KEYS */;
INSERT INTO `technicians` VALUES (3,'Erg├╝n Karaku┼ş','ekarakus@btofis.com','5305241200','active',1),(4,'Hazel Ba┼şaran','','','active',1);
/*!40000 ALTER TABLE `technicians` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_permissions`
--

DROP TABLE IF EXISTS `user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_permissions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_schools_id` int NOT NULL,
  `permission_id` int NOT NULL,
  `assigned_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_permissions_user_schools_id_permission_id` (`user_schools_id`,`permission_id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_tr_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_permissions`
--

LOCK TABLES `user_permissions` WRITE;
/*!40000 ALTER TABLE `user_permissions` DISABLE KEYS */;
INSERT INTO `user_permissions` VALUES (1,4,8,'2025-10-21 08:03:13'),(2,4,4,'2025-10-21 08:03:13'),(3,4,12,'2025-10-21 08:03:13'),(4,4,7,'2025-10-21 08:03:13'),(5,4,1,'2025-10-21 08:03:13'),(6,5,6,'2025-10-21 10:57:43'),(7,5,8,'2025-10-21 10:57:43'),(8,5,4,'2025-10-21 10:57:43'),(9,5,5,'2025-10-21 10:57:43'),(10,5,9,'2025-10-21 10:57:43'),(11,5,11,'2025-10-21 10:57:43'),(12,5,2,'2025-10-21 10:57:43'),(13,5,3,'2025-10-21 10:57:43'),(14,5,7,'2025-10-21 10:57:43'),(15,5,1,'2025-10-21 10:57:43'),(16,5,12,'2025-10-21 10:57:43'),(17,5,10,'2025-10-21 10:57:43');
/*!40000 ALTER TABLE `user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_schools`
--

DROP TABLE IF EXISTS `user_schools`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_schools` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `school_id` int NOT NULL,
  `is_primary` tinyint(1) DEFAULT '0' COMMENT 'Kullan─▒c─▒n─▒n ana okulu mu?',
  `assigned_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_schools_school_id_user_id_unique` (`user_id`,`school_id`),
  UNIQUE KEY `user_schools_user_id_school_id` (`user_id`,`school_id`),
  KEY `school_id` (`school_id`),
  CONSTRAINT `user_schools_ibfk_65` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `user_schools_ibfk_66` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_tr_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_schools`
--

LOCK TABLES `user_schools` WRITE;
/*!40000 ALTER TABLE `user_schools` DISABLE KEYS */;
INSERT INTO `user_schools` VALUES (3,4,1,0,'2025-10-07 12:31:49'),(4,5,1,0,'2025-10-18 19:07:40'),(5,6,1,0,'2025-10-21 10:57:11');
/*!40000 ALTER TABLE `user_schools` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL,
  `role` enum('super_admin','admin') CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci DEFAULT 'admin' COMMENT 'super_admin: Sistem y├Âneticisi, admin: Okul y├Âneticisi',
  `email` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL,
  `password` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_tr_0900_ai_ci NOT NULL,
  `is_active` tinyint(1) DEFAULT '1' COMMENT 'Kullan─▒c─▒ aktif mi?',
  `last_login` datetime DEFAULT NULL COMMENT 'Son giri┼ş tarihi',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `email_2` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_tr_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-21 23:18:32
